{{!--
* Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
*
* WSO2 Inc. licenses this file to you under the Apache License,
* Version 2.0 (the "License"); you may not use this file except
* in compliance with the License.
* You may obtain a copy of the License at
*
*  http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied. See the License for the
* specific language governing permissions and limitations
* under the License.
--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In | Entgra</title>
</head>
<body>
<div>
    <p>
        You are now being redirected to Identity Server. If the redirection fails, please click on
        the button below.
    </p>

    <form method="post" action="{{identityProviderUrl}}">
        <input type="hidden" name="SAMLRequest" value="{{encodedSAMLAuthRequest}}" />
        <input type="hidden" name="RelayState" value="{{relayState}}" />
        <input type="hidden" name="SSOAuthSessionID" value="{{sessionId}}" />
        <button type="submit">Redirect manually</button>
    </form>
</div>
<script type="text/javascript">document.forms[0].submit();</script>
</body>
</html>