/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.release-card{
    margin-top: 16px;
}

.release-card:hover {
    background-color: rgba(15, 188, 249,0.1);
}

@media screen and (max-width: 700px) {

    .release-card{
        width: 210%;
    }

    .app-release-cards{
        display: grid;
    }

}

.app-details-drawer {
    text-align: right
}

.btn-view-more {
    color: rgba(0, 0, 0, 0.65) !important;
}
